<!-- A user should be able to click the student's name on the index
page and be taken to that specific student's show page. -->
<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
